---
import BrandedApp from "../sections/what-we-offer/BrandedApp.astro"
import CallRelay from "../sections/what-we-offer/CallRelay.astro"
import Capital from "../sections/what-we-offer/Capital.astro"
import FoxPush from "../sections/what-we-offer/FoxPush.astro"
import FTR from "../sections/what-we-offer/FTR.astro"
import Hero from "../sections/what-we-offer/Hero.astro"
import PerfectTechmate from "../sections/what-we-offer/PerfectTechmate.astro"
import PerzonalizedWebsite from "../sections/what-we-offer/PersonalizedWebsite.astro"

import { getI18N } from "@/i18n"
import RootLayout from "@/layouts/RootLayout.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<RootLayout title={i18n.SEO.WHAT_WE_OFFER_TITLE} description={i18n.SEO.WHAT_WE_OFFER_DESCRIPTION}>
	<main>
		<Hero />
		<PerfectTechmate />
		<PerzonalizedWebsite />
		<Capital />
		<FTR />
		<BrandedApp />
		<FoxPush />
		<CallRelay />
	</main>
</RootLayout>
