---
import { FreeDemoForm } from "@/components/free-demo-form"
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts"
import RootLayout from "@/layouts/RootLayout.astro"
import "@/styles/globals.css"
---

<RootLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section class="hero flex min-h-screen w-full pt-20">
			<div class="container flex h-fit items-center justify-end gap-8">
				<div class="max-w-md">
					<h1 class="mx-auto text-right text-5xl tracking-tighter md:text-6xl lg:text-7xl">
						Unleash your Restaurant’s Success!
					</h1>
					<p class="mt-8 text-pretty text-right text-lg">
						<strong>Increase sales, orders, & maximize profits.</strong> Try our personalized ordering
						system and experience the best direct online ordering service for your restaurant <strong
							>#FoxExperience.</strong
						>
					</p>
				</div>
				<div class="h-fit rounded-lg bg-background/75 p-6">
					<h2 class="mb-4 max-w-sm text-balance text-center text-2xl font-normal tracking-tight">
						Are you the owner or manager of the restaurant?
					</h2>
					<FreeDemoForm client:load />
				</div>
			</div>
		</section>
	</main>
</RootLayout>

<style>
	.hero {
		background-image: url("/banner-home.jpg");
		background-size: cover;
		background-position: center;
	}
</style>
