---
import type { HTMLAttributes } from "astro/types"
import { buttonVariants } from "./ui/button"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props
---

<a
	href={href}
	{...props}
	class:list={cn(
		buttonVariants({ variant: "link" }),
		className,
		"h-fit w-fit p-0 font-normal text-black"
	)}
>
	<slot />
</a>
