---
import { Image } from "astro:assets"

import foxLogo from "@/assets/logo-white.png"
import FooterLink from "@/components/FooterLink.astro"
import FooterLinkIcon from "@/components/FooterLinkIcon.astro"
import Facebook from "@/components/icons/Facebook.astro"
import Instagram from "@/components/icons/Instagram.astro"
import Linkedin from "@/components/icons/Linkedin.astro"
import MapPin from "@/components/icons/MapPin.astro"
import X from "@/components/icons/X.astro"
import Link from "@/components/Link.astro"
import { buttonVariants } from "@/components/ui/button"
---

<footer class="flex flex-col">
	<div class="bg-white py-20">
		<div class="container grid grid-cols-5">
			<div class="flex flex-col">
				<h5 class="mb-6 text-xl font-bold text-primary">Company</h5>
				<FooterLink href="/#">Why Fox Ordering?</FooterLink>
				<FooterLink href="/about">About Us</FooterLink>
				<FooterLink href="/#">Success Stories</FooterLink>
				<FooterLink href="/blog">Blog</FooterLink>
				<FooterLink href="/#">Work with Us</FooterLink>
			</div>

			<div class="flex flex-col">
				<h5 class="mb-6 text-xl font-bold text-primary">Become a Partner</h5>
				<FooterLink href="/#">Order Online</FooterLink>
				<FooterLink href="/#">Our Partners & Integrations</FooterLink>
				<FooterLink href="/#">FromTheRestaurant</FooterLink>
				<FooterLink href="/#">Refer a Restaurant</FooterLink>
			</div>

			<div class="flex flex-col">
				<h5 class="mb-6 text-xl font-bold text-primary">Contact Us</h5>
				<FooterLink href="/#">866-883-6967</FooterLink>
				<FooterLink href="/#">contact@foxordering.com</FooterLink>
			</div>

			<div class="flex flex-col">
				<h5 class="mb-6 text-xl font-bold text-primary">Support</h5>
				<FooterLink href="/#">Frequently Asked</FooterLink>
				<FooterLink href="/#">Questions</FooterLink>
				<FooterLink href="/#">Speak with an Agent</FooterLink>
				<FooterLink href="/#">Google 3rd Party Disclosure Statement</FooterLink>
			</div>

			<div class="flex h-full items-center">
				<Link class:list={["w-full", buttonVariants({ variant: "default" })]} href="/#"
					>Order Food</Link
				>
			</div>
		</div>
	</div>

	<div class="container flex items-center justify-between py-14">
		<a href="/"><Image class="h-16 w-auto" src={foxLogo} alt="Fox Ordering logo." /></a>
		<div class="flex items-center">
			<MapPin class="mr-2 size-4 shrink-0 text-primary" /> 4301 Oak Circle, Boca Raton, FL 33431
		</div>
		<div class="flex items-center gap-6">
			<FooterLinkIcon href="#"><Instagram class="size-10 shrink-0" /></FooterLinkIcon>
			<FooterLinkIcon href="#"><Facebook class="size-10 shrink-0" /></FooterLinkIcon>
			<FooterLinkIcon href="#"><X class="size-10 shrink-0" /></FooterLinkIcon>
			<FooterLinkIcon href="#"><Linkedin class="size-10 shrink-0" /></FooterLinkIcon>
		</div>
	</div>
</footer>
