---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = pathname.includes(href?.toString() ?? "")
---

<a
	href={href}
	class="transition-colors hover:text-foreground/80"
	class:list={[className, isActive ? "font-bold text-foreground" : "text-foreground/60"]}
	{...props}
>
	<slot />
</a>
