---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === `/${subpath?.[0]}` || href === `/${subpath?.[1]}`
---

<a
	href={href}
	class="transition-colors hover:text-foreground/80"
	class:list={[className, isActive ? "font-bold text-foreground" : "text-foreground/60"]}
	{...props}
>
	<slot />
</a>
