---
import { Image } from "astro:assets"

import capitalLogo from "@/assets/what-we-offer/capital-logo.png"
import capital from "@/assets/what-we-offer/capital.png"
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="hero relative flex h-fit w-full py-20">
	<Image
		class="absolute left-0 top-0 h-full w-full object-cover object-center"
		src={capital}
		alt=""
	/>

	<div class="container z-10 flex h-full items-center justify-start">
		<div class="max-w-sm">
			<Image class="h-20 w-auto object-cover object-center" src={capitalLogo} alt="" />
			<h2
				set:html={i18n.WHAT_WE_OFFER.CAPITAL_TITLE}
				class="mt-8 text-balance text-3xl font-light"
			/>
			<div class="mt-8 flex gap-4">
				<div class="ml-8 mt-2 size-10 shrink-0 border-b-2 border-l-2 border-white"></div>
				<p class="text-pretty">
					{i18n.WHAT_WE_OFFER.CAPITAL_TEXT}
				</p>
			</div>
		</div>
	</div>
</section>
