---
import type { CollectionEntry } from "astro:content"
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

type Props = CollectionEntry<"blog">["data"]

const { title, description, pubDate, updatedDate, heroImage, author } = Astro.props
---

<html class="w-full overflow-x-hidden" lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			p {
				margin-bottom: 1rem;
				background-color: aliceblue;
			}
		</style>
	</head>

	<body class="dark w-full overflow-x-hidden">
		<Header />
		<main class="w-full border-b bg-white text-black">
			<article class="container flex gap-6 pb-20 pt-40">
				<div class="flex w-2/3 flex-col gap-4">
					<h1 class="text-3xl font-bold text-black md:text-5xl lg:text-6xl">
						{title}
					</h1>

					{
						author && (
							<div class="flex items-center justify-start gap-2">
								<img
									class="size-10 rounded-full bg-cover bg-center"
									src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
									alt=""
								/>
								<span class="text-xs text-border">by {author}</span>
							</div>
						)
					}

					<div
						class="mt-4 flex flex-col gap-y-2 [&>h2]:text-2xl [&>h2]:font-bold [&>ol]:ml-4 [&>ol]:list-decimal [&>p]:mb-4"
					>
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
